# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
 ../.idea/
/bash.iml
/bashsupport-pro.xml
/codeStyles/codeStyleConfig.xml
/misc.xml
/modules.xml
/vcs.xml
